* {
  box-sizing: border-box;
}
html,
textarea,
input,
button {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Adwaita Sans,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
}
h1,
main {
  max-width: 1040px;
  margin-inline: auto;
}
main {
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
}
section:first-of-type {
  grid-column: 1 / span 2;
}
ol {
  margin: 0;
}
summary {
  cursor: pointer;
}
button {
  cursor: pointer;

  &:not([type]) {
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;

    &:hover,
    &:active {
      color: blue;
    }
  }
}
#event-stream-panel {
  position: sticky;
  top: 0;
  margin-block-start: -1px;
  padding-block-start: 1px;
}
#auto-observed,
#manually-observed {
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: minmax(75dvh, auto);
  margin-block-end: 2rem;

  > div {
    display: grid;
    grid-gap: inherit;
    grid-auto-rows: inherit;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: #eee;
    overflow: visible;
  }

  div.nested {
    display: grid;
    grid-gap: inherit;
    grid-auto-rows: inherit;
    padding: 1rem;
    border: 1px solid #ccc;
    overflow: visible;
  }
}
