PUBLIC_NINETAILED_CLIENT_ID=
PUBLIC_NINETAILED_ENVIRONMENT=

PUBLIC_EXPERIENCE_API_BASE_URL=
PUBLIC_INSIGHTS_API_BASE_URL=

PUBLIC_CONTENTFUL_TOKEN=
PUBLIC_CONTENTFUL_ENVIRONMENT=
PUBLIC_CONTENTFUL_SPACE_ID=

PUBLIC_CONTENTFUL_CDA_HOST=
PUBLIC_CONTENTFUL_BASE_PATH=
