docs
pnpm-lock.yaml
**/ios/Pods/**
**/ios/build/**
**/android/build/**
**/android/.gradle/**
**/.bundle/**
**/node_modules/**
packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js