docs
pnpm-lock.yaml
**/.next/**
**/next-env.d.ts
**/ios/Pods/**
**/ios/build/**
**/android/build/**
**/android/.gradle/**
**/.bundle/**
**/node_modules/**
packages/ios/ContentfulOptimization/Sources/ContentfulOptimization/Resources/optimization-ios-bridge.umd.js
packages/android/ContentfulOptimization/src/main/assets/optimization-android-bridge.umd.js
